@import "Styles/_main.scss";

MainMenu {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Poppins;
	color: #fff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: all;

	> #choices {
		flex-direction: column;

		> * {
			margin: 20px 0px;
		}
	}

	> .title {
		font-size: 150px;
		font-family: 'Comic Sans MS';
	}

	> .copyright {
		position: absolute;
		bottom: 20px;
		font-size: 20px;
		font-weight: lighter;
		color: #fff;
	}
}
